@import "fonts";
@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: auto;
}


.btn {
  padding: 13px 50px;
  color: $white;
  width: 245px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: $blue;
  font-weight: 700;
  &:hover{
    background-color: darken($blue, 15%);
    cursor: pointer;
  }
}

a{
  color: $blue;
  &:hover{
    color: darken($blue, 15%);

  }
}

body {
  color: $text-primary;
  font-size: $font-size;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;

  #page {
    background-color: $white;
    margin: 100px auto;
    width: 1440px;
    height: fit-content;
    max-height: 1000px;
    display: flex;
    overflow: hidden;
    @include shadow;

    .side {

      &.right {
        height: 100%;
        position: relative;
        width: 761px;

        .logo {
          position: absolute;
          width: 141px;
          height: 26px;
          left: 50px;
          top: 44px;
          transform: scaleX(1.15);
        }

        .bg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &.left {
        padding: 119px 78px 106px 73px;
        display: flex;
        flex-direction: column;
        width: 679px;

        .header {
          font-weight: 500;
          font-size: 1.75rem;
        }

        .sub-header {
          font-weight: 500;
          font-size: 1.2rem;
          margin-top: 20px;
          color: $text-second;
        }

        .buttons {
          margin-top: 58px;
          display: flex;
          width: 100%;
          justify-content: space-between;

          .btn {
            padding-top: 15px;
            font-size: 0.86rem;
            position: relative;
            line-height: .75rem;
            font-weight: 500;

            &:before {
              content: '';
              position: absolute;
              display: block;
              width: 18px;
              height: 18px;
              left: 14px;
              top: 50%;
              transform: translateY(-50%);
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
          }

          &__fb {
            background-color: $fb-btn;

            &:before {
              background-image: url("/img/facebook.svg");
            }
          }

          &__in {
            background-color: $in-btn;

            &:before {
              background-image: url("/img/linkedin.svg");
            }
          }

        }

        .delimiter {
          text-transform: uppercase;
          margin: 52px 0 47px;
          text-align: center;
          font-size: .75rem;
          position: relative;
          font-weight: 500;

          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            background-color: $very-light-grey;
            width: 110px;
            top: 50%;
          }

          &:before {
            left: 26%;
          }

          &:after {
            right: 26%;
          }

        }

        .form {
          display: flex;
          flex-direction: column;
          width: 100%;

          .form__group {
            width: 100%;
            display: flex;
            flex-direction: column;

            &-line {
              flex-direction: row;
            }

            &-inputs {
              justify-content: space-between;
            }

            .group-field {
              width: 245px;
              border: 1px solid $very-light-grey;
              flex-direction: column;
              display: flex;
              padding: 8px 10px 10px;
              border-radius: 3px;

              label {
                font-weight: 500;
                font-size: .8rem;
                color: $light-grey;
              }

              &__input {
                border: none;
                outline: none;
                padding-top: 8px;
                font-weight: 500;
                font-size: 0.93rem;
              }

              &:has(input:focus) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 1px solid $blue;
              }
            }

            &.investor-type {
              display: flex;
              flex-direction: column;
              margin-top: 62px;

              .investor-type__header {
                font-weight: 500;
                font-size: 1.32rem;
              }

              .investor-type__sub-header {
                font-weight: 500;
                font-size: .885rem;
                margin-top: 15px;
                color: $grey;
              }

              .switchers {
                margin-top: 50px;
                display: flex;

                &__group {
                  padding-left: 30px;
                  margin-right: 50px;
                  position: relative;

                  label {
                    font-size: 1rem;
                    font-weight: 500;
                    position: relative;
                    cursor: pointer;

                    &:before {
                      content: '';
                      position: absolute;
                      display: block;
                      width: 12px;
                      height: 12px;
                      border: 3px solid $very-light-grey;
                      border-radius: 50%;
                      top: 50%;
                      left: -30px;
                      transform: translateY(-50%);
                    }


                  }

                  .tip {
                    //content: 'i';
                    width: 10px;
                    height: 10px;
                    text-align: center;
                    font-size: .7rem;
                    display: block;
                    position: absolute;
                    //border-radius: 50%;
                    //border: 1px solid $grey;
                    color: $grey;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:hover {
                      cursor: pointer;
                      //border: 1px solid $blue;
                      color: $blue;

                    }
                  }

                  input {
                    display: none;

                    &:checked + label:before {
                      border: 3px solid $blue;
                      width: 10px;
                      height: 10px;
                    }

                  }

                }

              }

              .investor-type__help {
                margin-top: 30px;
                border-radius: 3px;
                max-width: 50%;
                padding: 7px 15px;
                font-size: .85rem;
                line-height: 1.02rem;
                @include shadow;
              }

            }

            &.privacy {
              margin-top: 54px;
              margin-bottom: 62px;
              padding-left: 23px;

              label {
                color: $grey;
                font-size: .835rem;
                position: relative;

                &:before {
                  position: absolute;
                  content: '';
                  display: block;
                  width: 10px;
                  height: 10px;
                  border: 1px solid $grey;
                  top: 50%;
                  left: -23px;
                  transform: translateY(-50%);
                }
              }

              input {
                display: none;

                &:checked + label {
                  &:before {
                    border: 1px solid $blue;
                    background-color: $blue;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}
