$bg-color: #eff6ff;
$text-primary: #2a4a5c;
$text-second: #7b8a92;
$fb-btn: #255a9b;
$in-btn: #0076b6;
$blue: #3698fb;
$grey: #96a5b1;
$light-grey: #afafaf;
$very-light-grey: #eeeeee;
$white: #ffffff;

$font-size: 18px;
$s-font-size: 16px;

$res-xl: 1440px;
$res-l: 1280px;
$res-m: 1024px;
$res-s: 768px;
$res-xs: 520px;
