$bg-color: #EFF6FF;
$text-primary: #2A4A5C;
$text-second: #7B8A92;
$fb-btn: #255A9B;
$in-btn: #0076B6;
$blue: #3698FB;
$grey: #96A5B1;
$light-grey: #AFAFAF;
$very-light-grey: #EEEEEE;
$white: #FFFFFF;

$font-size: 18px;
$s-font-size: 16px;

$res-xl: 1440px;
$res-l: 1280px;
$res-m: 1024px;
$res-s: 768px;
$res-xs: 768px;